#wrap {
  position: relative;
  height: 100vh;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #0d0722;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  font-family: "Vitro_core";
  font-size: 24px;
  animation: fadeIn 500ms reverse;
}

/* html,
body {
  width: 100vw;
  height: 100vh;
  background: #0d0722;
} */

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  font-family: 'Exo 2';
  font-size: 24px;
  animation: fadeIn 500ms reverse;
} */

.gooey {
  background-image: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 600px;
  height: 544px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}

.gooey:before,
.gooey:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg,
      rgba(255, 0, 119, 0.733) 0%,
      rgba(0, 103, 255, 0.89) 100%);
}

.gooey:before {
  animation: morph 3s linear infinite;
  opacity: 0.21;
  animation-duration: 1.5s;
}

.text {
  position: absolute;
  text-align: center;
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: 0.89;
  text-align: center;
  font-size: 40px;
}

.text p {
  font-family: 'Pretendard-Bold';
  line-height: 1.3;
}

.text p span {
  font-size: 100px;
  /* line-height: 1.8em; */
  color: #fcedd8;
  font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #6253eb,
    10px 10px 0px #d04eb4,
    15px 15px 0px #afda43,
    20px 20px 0px #2ac100,
    25px 25px 0px #015939,
    30px 30px 0px #394ee3;
  margin-left: -20px;
}



@keyframes morph {

  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

/* 스크롤 아이콘 애니메이션 */
.scrolldown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.scrolldown span {
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 10px;
}

.scrolldown .unu {
  margin-top: 6px;
}

.scrolldown .unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.scrolldown .unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}

.scrolldown .doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}

.scrolldown .trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
}

.scrolldown .mouse {
  height: 42px;
  width: 28px;
  border-radius: 20px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.scrolldown .wheel {
  height: 10px;
  width: 2px;
  display: block;
  margin: 8px auto;
  background: white;
  position: relative;
}

.scrolldown .wheel {
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  50% {
    top: 2px;
  }

  100% {
    top: 3px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* 스크롤 아이콘 애니메이션 끝*/
/* 
#main .spotlight {
  width: 887px;
  height: auto;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

#main .spotlight img {
  width: 100%;
} */

#wrap #R_menu {
  position: fixed;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#R_menu ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
  color: #ff0077c9;
  font-weight: bold;
  /* text-shadow: 1px 1px 2px gray; */
  position: relative;
}

#R_menu ul li:last-child {
  margin-bottom: 0;
}

#R_menu ul li:hover .highlight:after {
  width: 100%;
}

#R_menu ul li i {
  width: 20px;
  text-align: center;
  margin-right: 7px;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight:after {
  content: "";
  width: 0;
  height: 12px;
  display: inline-block;
  background: #f4ff5f;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s all;
}

/* go top 버튼 */

@-webkit-keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.progress-wrap {
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px #d0c5fa;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\ebb6";
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  color: #6d82fa;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1000;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "\ebb6";
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  opacity: 0;
  background: #0d0722;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 2000;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #0d0722;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* go top 버튼 끝 */
/* 내소개 */
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
}

#intro .L_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 65px;
  margin-left: 69px;
  font-family: 'Pretendard-ExtraBold';
  font-size: 20px;
  font-weight: bold;
  color: #ff007757;
}

#intro .center {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#intro .center .title .tit01 {
  text-align: center;
  font-family: 'Pretendard-Black';
  font-size: 38px;
  color: #001535;
}

#intro .center .title .tit01 span {
  font-family: 'PyeongChangPeace-Bold';
  font-size: 60px;
  background: linear-gradient(to right, #1fffff 0%, #ff00d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro .center .myself {
  display: flex;
  justify-content: space-between;
}

#intro .center .myself .Left {
  margin-top: 60px;
}

#intro .center .myself .Left .box {
  display: block;
  width: 290px;
  height: 351px;
  border: 10px solid #001535;
  border-radius: 80px;
}

#intro .center .myself .Left .info {
  text-align: center;
  margin-top: 20px;
}

#intro .center .myself .Left .info li {
  font-size: 16px;
  margin-bottom: 10px;
}

#intro .center .myself .Left .info li:first-child {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 10px;
}

#intro .center .myself .Left .info li:last-child {
  margin-bottom: 0;
}

#intro .center .myself .Middle {
  margin-top: 80px;
  letter-spacing: 1px;
  margin-left: 50px;
}

#intro .center .myself .Middle .exp>p {
  font-size: 20px;
  font-weight: bold;
  color: #001535;
  margin-bottom: 15px;
}

#intro .center .myself .Middle .edu>p {
  font-size: 20px;
  font-weight: bold;
  color: #001535;
  margin-bottom: 15px;
}

#intro .center .myself .Middle .edu {
  margin-top: 40px;
}

#intro .center .myself .Middle .exp>div {
  display: flex;
  margin-bottom: 8px;
}

#intro .center .myself .Middle .edu>div {
  display: flex;
  margin-bottom: 8px;
}

#intro .center .myself .Middle .date {
  font-size: 15px;
  font-weight: bold;
  display: block;
  width: 72px;
}

#intro .center .myself .Middle .place {
  font-size: 16px;
  margin-left: 20px;
}

#intro .center .myself .Middle .edu {
  padding-top: 15px;
}

#intro .center .myself .Right {
  margin-top: 60px;
}

#intro .center .myself .Right .top {
  margin-top: 70px;
  border: 2px dashed #0d0722;
  background-color: #fee9f7;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 10px #fee9f7;
  padding: 25px 20px;
}

#intro .center .myself .Right .top li {
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 17px;
}

#intro .center .myself .Right .top li:last-child {
  margin-bottom: 0;
}


#intro .center .myself .Right .bottom {
  margin-top: 100px;
}

#intro .center .myself .Right .bottom ul {
  display: flex;
  justify-content: space-between;
}

#intro .center .myself .Right .bottom .up {
  width: 180px;
  margin: 0 auto;
}

#intro .center .myself .Right .bottom .down {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

#intro .center .myself .Right .bottom ul li {
  width: 60px;
  height: 58px;
}

#intro .center .myself .Right .bottom ul li img {
  width: 100%;
}

#intro .center>.sub_title {
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
}

#intro .center>.sub_title span {
  font-family: 'Pretendard-Black';
}

/* project01 시작 */
#project01 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../images/bg01.png) no-repeat center / cover;
}

/* #project01 .L_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 65px;
  margin-left: 69px;
  font-family: 'Pretendard-ExtraBold';
  font-size: 20px;
  font-weight: bold;
  color: #ff007757;
} */

#project01 .center {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

#project01 .center .info {}

#project01 .center .info .T01 {
  font-size: 35px;
  color: #001535;
  font-weight: bold;
  margin-bottom: 38px;
}

#project01 .center .info .T02 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

#project01 .center .info .T03 {
  font-size: 13px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 20px;
}

#project01 .center .info .T04 {
  font-family: 'Pretendard-Black';
  font-size: 35px;
  color: #001535;
  margin-bottom: 20px;
}

#project01 .center .info .T04 span {
  background-color: #fae97f;
}

#project01 .center .info .T05 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.7;
  text-align: justify;
  width: 420px;
}

#project01 .center .info .T06 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project01 .center .info .T07 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}

#project01 .center .info .T08 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project01 .center .info .T09 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 28px;
}

#project01 .center .info .T10 {
  display: flex;
  justify-content: space-between;
}

#project01 .center .info .T10 a {}

#project01 .center .info .T10 .btn01 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project01 .center .info .T10 .btn02 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project01 .center .info .T10 .btn03 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project01 .center .info .T10 .btn01:hover {
  background-color: #fae97f;
  color: #001535;
}

#project01 .center .info .T10 .btn02:hover {
  background-color: #fae97f;
  color: #001535;
}

#project01 .center .info .T10 .btn03:hover {
  background-color: #fae97f;
  color: #001535;
}

#project01 .center .computer {}

#project01 .center .computer .monitor {
  overflow: hidden;
}

#project01 .center .computer .webImg {
  position: absolute;
  right: 16px;
  top: 14px;
  /* border: 1px solid lime; */
  width: 669px;
  height: 343px;
  overflow: hidden;
}

#project01 .center .computer .webImg img {
  width: 100%;
  animation: up-down01 12s linear 0.5s infinite alternate;
}

@keyframes up-down01 {
  from {
    transform: translatey(0px);
  }

  to {
    transform: translatey(-2218px);
  }
}

/* project02 시작 */
#project02 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#project02::before {
  content: "";
  background: url(../images/bg02.png) no-repeat center / cover;
  opacity: 0.15;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* #project02 .L_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 65px;
  margin-left: 69px;
  font-family: 'Pretendard-ExtraBold';
  font-size: 20px;
  font-weight: bold;
  color: #ff007757;
}
 */
#project02 .center {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

#project02 .center .info {}

#project02 .center .info .T01 {
  font-size: 35px;
  color: #001535;
  font-weight: bold;
  margin-bottom: 38px;
}

#project02 .center .info .T02 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

#project02 .center .info .T03 {
  font-size: 13px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 20px;
}

#project02 .center .info .T04 {
  font-family: 'Pretendard-Black';
  font-size: 35px;
  color: #001535;
  margin-bottom: 20px;
}

#project02 .center .info .T04 span {
  background-color: #80ffe1;
}

#project02 .center .info .T05 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.7;
  text-align: justify;
  width: 420px;
}

#project02 .center .info .T06 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project02 .center .info .T07 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}

#project02 .center .info .T08 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project02 .center .info .T09 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 28px;
}

#project02 .center .info .T10 {
  display: flex;
  justify-content: space-between;
}

#project02 .center .info .T10 a {}

#project02 .center .info .T10 .btn01 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project02 .center .info .T10 .btn02 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}


#project02 .center .info .T10 .btn03 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project02 .center .info .T10 .btn01:hover {
  background-color: #80ffe1;
  color: #001535;
}

#project02 .center .info .T10 .btn02:hover {
  background-color: #80ffe1;
  color: #001535;
}

#project02 .center .info .T10 .btn03:hover {
  background-color: #80ffe1;
  color: #001535;
}

#project02 .center .computer {}

#project02 .center .computer .monitor {
  overflow: hidden;
}

#project02 .center .computer .webImg {
  position: absolute;
  right: 16px;
  top: 14px;
  /* border: 1px solid lime; */
  width: 669px;
  height: 343px;
  overflow: hidden;
}

#project02 .center .computer .webImg img {
  width: 100%;
  animation: up-down02 8s linear 0.5s infinite alternate;
}

@keyframes up-down02 {
  from {
    transform: translatey(0px);
  }

  to {
    transform: translatey(-1220px);
  }
}

/* project03 시작 */
#project03 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#project03::before {
  content: "";
  background: url(../images/bg03.png) no-repeat center / cover;
  opacity: 0.15;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 10px;
}

/* #project03 .L_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 65px;
  margin-left: 69px;
  font-family: 'Pretendard-ExtraBold';
  font-size: 20px;
  font-weight: bold;
  color: #ff007757;
} */

#project03 .center {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

#project03 .center .info {}

#project03 .center .info .T01 {
  font-size: 35px;
  color: #001535;
  font-weight: bold;
  margin-bottom: 38px;
}

#project03 .center .info .T02 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

#project03 .center .info .T03 {
  font-size: 13px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 20px;
}

#project03 .center .info .T04 {
  font-family: 'Pretendard-Black';
  font-size: 35px;
  color: #001535;
  margin-bottom: 20px;
}

#project03 .center .info .T04 span {
  background-color: #80caff;
}

#project03 .center .info .T05 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.7;
  text-align: justify;
  width: 420px;
}

#project03 .center .info .T06 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project03 .center .info .T07 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}

#project03 .center .info .T08 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project03 .center .info .T09 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 28px;
}

#project03 .center .info .T10 {
  display: flex;
  justify-content: space-between;
}

#project03 .center .info .T10 a {}

#project03 .center .info .T10 .btn01 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #0d0722;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project03 .center .info .T10 .btn02 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #0d0722;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project03 .center .info .T10 .btn03 {
  display: block;
  width: 110px;
  height: 36px;
  border: 2px solid #001535;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project03 .center .info .T10 .btn01:hover {
  background-color: #80caff;
  color: #001535;
}

#project03 .center .info .T10 .btn02:hover {
  background-color: #80caff;
  color: #001535;
}

#project03 .center .info .T10 .btn03:hover {
  background-color: #80caff;
  color: #001535;
}

#project03 .center .computer {}

#project03 .center .computer .monitor {
  overflow: hidden;
}

#project03 .center .computer .webImg {
  position: absolute;
  right: 16px;
  top: 14px;
  /* border: 1px solid lime; */
  width: 669px;
  height: 343px;
  overflow: hidden;
}

#project03 .center .computer .webImg img {
  width: 100%;
  animation: up-down03 7s linear 0.5s infinite alternate;
}

@keyframes up-down03 {
  from {
    transform: translatey(0px);
  }

  to {
    transform: translatey(-910px);
  }
}

/* project04 시작 */
#project04 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#project04::before {
  content: "";
  background: url(../images/bg04.png) no-repeat center / cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 10px;
}

/* #project04 .L_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 65px;
  margin-left: 69px;
  font-family: 'Pretendard-ExtraBold';
  font-size: 20px;
  font-weight: bold;
  color: #ff007757;
} */

#project04 .center {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

#project04 .center .info {}

#project04 .center .info .T01 {
  font-size: 35px;
  color: #001535;
  font-weight: bold;
  margin-bottom: 38px;
}

#project04 .center .info .T02 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

#project04 .center .info .T03 {
  font-size: 13px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 20px;
}

#project04 .center .info .T04 {
  font-family: 'Pretendard-Black';
  font-size: 35px;
  color: #001535;
  margin-bottom: 20px;
}

#project04 .center .info .T04 span {
  background-color: #ffa07f;
}

#project04 .center .info .T05 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.7;
  text-align: justify;
  width: 420px;
}

#project04 .center .info .T06 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project04 .center .info .T07 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}

#project04 .center .info .T08 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project04 .center .info .T09 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 28px;
}

#project04 .center .info .T10 {
  display: flex;
}

#project04 .center .info .T10 a {}

#project04 .center .info .T10 .btn01 {
  display: block;
  width: 163px;
  height: 36px;
  border: 2px solid #0d0722;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  margin-right: 33px;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project04 .center .info .T10 .btn02 {
  display: block;
  width: 163px;
  height: 36px;
  border: 2px solid #0d0722;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project04 .center .info .T10 .btn01:hover {
  background-color: #ffa07f;
  color: #001535;
}

#project04 .center .info .T10 .btn02:hover {
  background-color: #ffa07f;
  color: #001535;
}

#project04 .center .computer {}

#project04 .center .computer .monitor {
  overflow: hidden;
}

#project04 .center .computer .webImg {
  position: absolute;
  right: 16px;
  top: 14px;
  /* border: 1px solid lime; */
  width: 669px;
  height: 343px;
  overflow: hidden;
}

#project04 .center .computer .webImg img {
  width: 100%;
  animation: up-down04 5s linear 0.5s infinite alternate;
}

@keyframes up-down04 {
  from {
    transform: translatey(0px);
  }

  to {
    transform: translatey(-720px);
  }
}

/* project04 시작 */
#project05 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#project05::before {
  content: "";
  background: url(../images/bg05.png) no-repeat bottom right;
  background-size: 25%;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* #project05 .L_txt {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 65px;
  margin-left: 69px;
  font-family: 'Pretendard-ExtraBold';
  font-size: 20px;
  font-weight: bold;
  color: #ff007757;
} */

#project05 .center {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

#project05 .center .info {}

#project05 .center .info .T01 {
  font-size: 35px;
  color: #001535;
  font-weight: bold;
  margin-bottom: 38px;
}

#project05 .center .info .T02 {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

#project05 .center .info .T03 {
  font-size: 13px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 20px;
}

#project05 .center .info .T04 {
  font-family: 'Pretendard-Black';
  font-size: 35px;
  color: #001535;
  margin-bottom: 20px;
}

#project05 .center .info .T04 span {
  background-color: #fffec3;
}

#project05 .center .info .T05 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.7;
  text-align: justify;
  width: 420px;
}

#project05 .center .info .T06 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project05 .center .info .T07 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}

#project05 .center .info .T08 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

#project05 .center .info .T09 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 28px;
}

#project05 .center .info .T10 {
  display: flex;
}

#project05 .center .info .T10 a {}

#project05 .center .info .T10 .btn01 {
  display: block;
  width: 163px;
  height: 36px;
  border: 2px solid #0d0722;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background-color: #fff;
  margin-right: 33px;
  color: #333;
  box-shadow: 2px 2px 5px #888888;
  transition: all 0.3s;
}

#project05 .center .info .T10 .btn01:hover {
  background-color: #fffec3;
  color: #001535;
}

/* 아이폰 3d swiper 효과 */
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
 */

.swiperwrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 60%;
}

.iphone {
  position: absolute;
  left: 50%;
  top: -7.5px;
  transform: translateX(-59.6%);
  width: 220px;
  z-index: 5;
}

.iphone img {
  width: 100%;
}

.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 197px;
  display: flex;
}

.swiper-slide img {
  display: block;
}

.tap {
  width: 60px;
  position: absolute;
  bottom: -50px;
  right: 200px;
  margin-right: -50px;
  animation-name: tap;
  animation-duration: 1s;
  animation-duration: leaner;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.tap img {
  width: 100%;
}

@-webkit-keyframes tap {
  0% {
    right: 200px;
  }

  100% {
    right: 560px;
  }
}

/* 마지막 페이지 */

#contact {
  width: 100%;
  height: 100vh;
  background-color: #0d0722;
  position: relative;
}

/* 
#contact .center {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
} */

#contact .t_text {
  width: 1200px;
  font-size: 30px;
  color: #fff;
  line-height: 2em;
  letter-spacing: 1px;
  margin: 0 auto;
  padding-top: 130px;
}

#contact .t_text span {
  font-size: 60px;
  font-family: 'Pretendard-Black';
  background: linear-gradient(to right, #1fffff 0%, #ff00d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-delay: 400ms;
}

/* .text {
  position: absolute;
  text-align: center;
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  text-align: center;
  font-size: 40px;
  line-height: 2em;
} */
#contact .space_bg {
  width: 900px;
  margin-left: 600px;
  margin-top: -70px;
  animation: rotate_image 80s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

#contact .space_bg img {
  width: 100%;
}

#contact .b_text {
  font-size: 16px;
  color: #fff;
  line-height: 1.5em;
  position: absolute;
  bottom: 130px;
  left: 351.5px;
}

#contact .number {
  font-size: 30px;
  color: #fff;
  text-align: right;
  position: absolute;
  bottom: 130px;
  right: 351.5px;
}

#contact .number .my {
  margin-top: 5px;
  font-family: 'Pretendard-Black';
  background: linear-gradient(to right, #1fffff 0%, #ff00d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fp-watermark {
  display: none;
}