#main {
  width: 100%;
  height: 100vh;
  background-color: #001535;
  overflow: hidden;
  position: relative;
}

#main .L_txt {
  padding-top: 65px;
  margin-left: 69px;
}

#main .center {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main .center .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolldown {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.scrolldown span {
  display: block;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 10px;
}

.scrolldown .unu {
  margin-top: 6px;
}

.scrolldown .unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.scrolldown .unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.scrolldown .doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.scrolldown .trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

.scrolldown .mouse {
  height: 42px;
  width: 28px;
  border-radius: 20px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.scrolldown .wheel {
  height: 10px;
  width: 2px;
  display: block;
  margin: 8px auto;
  background: white;
  position: relative;
}

.scrolldown .wheel {
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  50% {
    top: 2px;
  }

  100% {
    top: 3px;
  }
}

@-webkit-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

#main .spotlight {
  width: 887px;
  height: auto;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

#main .spotlight img {
  width: 100%;
}