@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    color: #0096ff;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

.clear::after {
    display: block;
    content: '';
    clear: both;
}